/* 網頁文字設置 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');
body {
  font-family: 'Noto Sans TC', sans-serif;
}

/* "內容"字體及間距設定 */
.text-content-size28 {
  font-size: 28px;
  line-height: 42px;
}

.text-content-size18 {
  font-size: 18px;
  line-height: 27px;
}

.text-content-size16 {
  font-size: 16px;
  line-height: 24px;
}

/* "標題"字體及間距設定 */
.text-title-size40 {
  font-size: 40px;
  line-height: 98px;
}

.text-title-size32 {
  font-size: 32px;
  line-height: 28px;
}

.text-title-size28 {
  font-size: 28px;
  line-height: 40px;
}

.text-title-size24 {
  font-size: 24px;
  line-height: 32px;
}

.text-title-size20 {
  font-size: 20px;
  line-height: 26px;
}

.text-title-size16 {
  font-size: 16px;
  line-height: 28px;
}

/* "nav"字體及間距設定 */

.nav-member-size18 {
  font-size: 18px;
  line-height: 30px;
}
.nav-member2-size18 {
  font-size: 18px;
  line-height: 55px;
}

.fa-star{
  font-size: 25px;
  color :rgba(254, 201, 13, 1);
}

.small-star{
  font-size: 20px;
  color :rgba(254, 201, 13, 1);
}