@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');

header {
  background: rgba(239, 239, 239, 1);
  width: 100%;
  height: 83px;
}
.td-header-main {
  height: 100%;
}

/* LOGO */
.td-logo {
  width: 143px;
  height: 100%;
}
.td-logo-img {
  width: 36px;
  height: 49px;
  margin-top: 15px;
}
.td-logo-text {
  width: 77px;
  height: 58px;
  margin-left: -13px;
  margin-top: 10px;
}

/* nav */
.td-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}
.left-nav {
  height: 30px;
}
/* left nav */
.left-nav a {
  text-decoration: none;
  color: black;
  line-height: 30px;
  font-size: 20px;
  font-weight: 500;
}

.left-nav a:first-child {
  margin-right: 30px;
}

/* right nav */
.right-nav {
  width: 172px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-nav .fa-comment-dots {
  font-size: 36px;
}
.fa-comment-dots {
  color: rgba(255, 156, 0);
}

.td-cart {
  width: 36px;
  height: 36px;
}

.td-member-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
}

/* header 登入 按鈕設定 */
.td-header-login {
  margin-right: 30px;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 576px) {
}
