button:hover{
transform: translateY(-5px);
}

.filter-title {
  font-size: 1.25rem;
  line-height: 1.438rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #072b7b;
  border-radius: 10px;
}

.filter-title p {
  margin-top: 0%;
  margin-bottom: 0%;
}

.filter-radio p {
  font-size: 1.25rem;
  line-height: 1.438rem;
  color: #072b7b;
}
.filter-bystar input {
  margin-top: 10px;
}

.filter-bystar img{
  max-width: 165.25px;
  height: auto;
}
.page-title {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.063rem;
  color: #072b7b;
}

.td-ml-50 {
  margin-left: 50px;
}
.td-ml-25 {
  margin-left: 25px;
}

.carousel-indicators [data-bs-target] {
  box-sizing: 100%;
  max-block-size: 150px;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  padding: 0;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: #072b7b;
}

@media only screen and (max-width: 1400px) {
  .filter .form-check {
    margin-left: 25px;
    max-width: 175.72px;
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .journey-info .title {
    font-weight: bold;
    font-size: 1.2rem !important;
    line-height: 2rem;
    color: #000000;
    margin-top: 0.3rem;
  }
  .journey-info .tag {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.313rem;
    color: #072b7b;
    margin-top: 0.6rem;
  }
  
}
@media only screen and (max-width: 768px) {
  .filter-bystar .form-check {
    display: none;
  }
   .filter {
    display: none;
  }
}





@media only screen and (min-width: 768px) {
  .filter-resultcontainer .page-title {
    text-align: left !important;
  }
   .filter-dropdown {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .filter-dropdown button {
    max-width: 445px;
    height: auto;
    width: 100%;
    color: #ffffff;
    background: #072b7b;
    border-radius: 100px;
    margin-top: 25px;
  }

  .dropdown-menu.show {
    display: block;
    position: absolute;
    will-change: transform;
    transform: translate3d(2.188rem, 4.688rem, 0px) !important;
    background: #e8f7ff;
    border-radius: 10px;
    max-width: 445px;
  }

  .dropdown-menu.show {
    display: block;
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(2.188rem, 4.688rem, 0px) !important;
    background: #e8f7ff;
    border-radius: 10px;
    max-width: 445px;
  }
  .filter-dropdown .form-check {
    max-width: 150px;
    width: 100%;
    font-size: 1.125rem;
    line-height: 23px;
    color: #000000;
    margin-right: 0.75rem;
    margin-left: 1.4rem;
  }
  .filter-dropdown .stars a {
    font-size: 13px;
  }
}
.filter-dropdown h6 {
  margin-left: 20px;
}
.filter-border {
  border: 1px solid #072b7b;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.filter-dropdown img{
  max-width: 156.27;
  width: 100%;
}
.link-right {
  width: 35%;
  height: 1px;
  border-top: solid #dddddd 1px;
  right: 0;
  top: 50%;
}

.journey-info .title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #000000;
}

.journey-info .tag {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.313rem;
  /* identical to box height */
  color: #072b7b;
  margin-top: 0.6rem;
}
.journey-info .content {
  margin-top: 10%;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #000000;
}

@media only screen and (min-width: 1400px) {
  .filter-result{
    max-height: 319.98px;
    max-height: 280.91;
  }

  .filter-result img{
    max-height: 319.98px;
    max-height: 280.91;
  }
  .journey-price{
    margin-top: 30px !important;
  }

  .fa-heart-hide{
    margin-top: 30px !important;
  }
  .reviewStar{
    margin-top: 90px !important;

  }
  .reviewStar-point{
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 768px) {
 .journey-info .reviewStar-point {
   width: max-content;
}

}




.journey-info .reviewStar {
  margin-top: 60px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  color: #000000;
  padding: 0%;

}
.reviewStar-point {
  margin-top: 13px;
}

.reviewStar .fa-heart-show {
  font-size: 2.188rem;
  color: pink;
  margin-top: 0.625rem;
}

.filter-result {
  background: #e8f7ff;
  border-radius: 10px;
}
.journey-price p {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.625rem;
  /* identical to box height, or 130% */
  color: #000000;
}

.filter-resultcontainer .filter-result-imgarea {
  padding: 0%;
}
@media only screen and (max-width: 768px) {
  .journey-price .fa-heart-hide {
    display: none;
  }
  .filter-resultcontainer {
    margin-top: 50px;
  }

  .filter-resultcontainer .filter-result-imgarea {
    padding: 0%;
    height: 80%;
  }
  .filter-resultcontainer img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 768px) {
  .journey-price .td-btn-medium-w {
    margin-top: 45px;
  }
  .journey-price .td-btn-medium-o {
    margin-top: 10px;
  }
  .journey-info .reviewStar a {
    margin: auto;
    font-size: 1.625rem;
  }
  .reviewStar .fa-heart-show {
    display: none;
  }
}
.journey-price i {
  font-size: 2.188rem;
  color: pink;
  margin-top: 10px;
}


.filter-result img {
  border-radius: 10px;
  width: 100%;
}

.reviewStar img {
    border-radius: 10px;
    width: 100%;
    margin-left: 25px;
}

.pagination-container nav {
  width: 149px !important;
  height: 33.39px !important;
}
.pagination {
  width: 149px !important;
  height: 33.39px !important;
  margin: 0%;
}

.pagination .page-item .page-number {
  width: 32px !important;
  height: 32px !important;
}

.pagination .page-item .page-sign {
  width: 32px !important;
  height: 33.39px !important;
}

.page-item {
  margin-right: 7px;
}

.page-sign-next {
  margin-right: 0%;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #072b7b;
  border-color: #072b7b;
}
