.parent {
  /* background-color: #00aaff; */
  width: 300px;
  height: 300px;
  display: flex;
}

.member-background {
  height: 1125px;
  width: 100%;
  background: #e8f7ff;
  display: flex;
}
main {
  height: 1095px;
  width: 100%;
  background: #e8f7ff;
  display: flex;
}

.main-article {
  height: 967px;
  width: 825px;
  top: 175px;
  left: 609px;
  background: #ffffff;
  position: absolute;
  border-radius: 10px;
}

.box {
  height: 44px;
  width: 130px;
  margin-left: 640px;
  margin-top: 15px;
  background: #fec90d;
  border-radius: 50px;
}

.main-article-article {
  height: 270px;
  width: 786px;
  left: 20px;
  top: 25px;
  background: #ffffff;
  position: absolute;
  border-radius: 10px;
  background: #e8f7ff;
}

.nav-article-section-image {
  width: 251px;
  height: 220px;
  background: #000;
  display: flex;
  margin-left: 20px;
  margin-top: 25px;
}
.nav-article-section-text1 {
  width: 106px;
  height: 33px;
  border-radius: 20px;
  position: absolute;
  left: 297px;
  top: 58px;
}
.nav-article-section-text2 {
  width: 302px;
  height: 69px;
  border-radius: 20px;
  position: absolute;
  left: 297px;
  top: 113px;
}

.nav-article-section-delete {
  width: 115px;
  height: 48px;
  left: 64.15px;
  top: 25px;
  border-radius: 50px;
  position: absolute;
  left: 514px;
  top: 197px;
  border: 1px solid #ff9c00;
  background: #ff9c00;
}
.nav-article-section-detel {
  width: 115px;
  height: 48px;
  left: 64.15px;
  top: 25px;
  border-radius: 50px;
  background: #000;
  position: absolute;
  left: 650px;
  top: 197px;
  border: 1px solid #ff9c00;
  background: #ffffff;
  color: #ff9c00;
}

.main-article-article2 {
  height: 270px;
  width: 786px;
  left: 20px;
  top: 320px;
  background: #ffffff;
  position: absolute;
  border-radius: 10px;
  background: #e8f7ff;
}
.main-article-article3 {
  height: 270px;
  width: 786px;
  left: 20px;
  top: 615px;
  background: #ffffff;
  position: absolute;
  border-radius: 10px;
  background: #e8f7ff;
}

.left-member {
  height: 304px;
  width: 255px;
  left: 0px;
  top: 92px;
  position: relative;
  background: #ffffff;
  border-radius: 10px;
}

.left-member2 {
  height: 355px;
  width: 255px;
  left: 0px;
  top: 130px;
  position: relative;
  background: #ffffff;
  border-radius: 10px;
}

.list {
  list-style-type: none;
  text-align: center;
}
.list a {
  color: rgb(2, 2, 2);
  text-decoration: none;
}
.list p {
  position: relative;
  top: 10px;
  color: #072b7b;
  margin: 20px 0;
}

a:hover {
  color: #072b7b;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.nav-member-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #000;
  position: relative;
  top: 24px;
  left: 64px;
}

.flex {
  display: flex;
  width: 130px;
  height: 30px;
  position: relative;
  top: 75px;
  left: 340px;
  /* margin-top: 875px;
    margin-left: 350px; */
  justify-content: space-between;
}

.item {
  width: 25px;
  height: 25px;
  color: #c4c4c4;
  text-align: center;
  border: 1px solid gray;
}

.item a {
  color: gray;
  text-decoration: none;
}

.item1 {
  border-radius: 5px 0px 0px 5px;
}

.item2 {
  background-color: #072b7b;
}
.item3 {
  border-radius: 0px 5px 5px 0px;
}
