.td-btn-smill-o {
  width: 63px;
  height: 28px;
  padding: 6px 12px;
  align-items: center;
  background: #ff9c00;
  border-radius: 50px;
  border: none;
  color: #ffffff;
}

.td-btn-medium-o {
  width: 85px;
  height: 40px;
  padding: 10px 20px;
  align-items: center;
  background: #ff9c00;
  border-radius: 50px;
  border: none;
  color: #ffffff;
}
.td-btn-medium-w {
  width: 85px;
  height: 40px;
  padding: 10px 20px;
  align-items: center;
  background: #ffffff;
  border-radius: 50px;
  border: none;
  color: #ff9c00;
  border: 1px solid #ff9c00;
}

.td-btn-medium-blueborder {
  width: 85px;
  height: 40px;
  padding: 10px 20px;
  align-items: center;
  background: #ffffff;
  border-radius: 50px;
  border: none;
  color: #ff9c00;
  border: 1px solid #ff9c00;
}

.td-btn-large-o {
  width: 115px;
  height: 48px;
  padding: 12px 32px;
  /* align-items: center; */
  background: #ff9c00;
  border-radius: 50px;
  border: none;
  color: #ffffff;
}

.td-btn-large-delete {
  width: 115px;
  height: 48px;
  background: #ff9c00;
  border-radius: 50px;
  border: none;
  color: #ffffff;
}

.td-btn-large-gopay {
  width: 192px;
  height: 60px;
  background: #ff9c00;
  border-radius: 50px;
  border: none;
  color: #ffffff;
}

.td-btn-smill-b {
  width: 63px;
  height: 28px;
  padding: 6px 12px;
  align-items: center;
  background: #174157;
  border-radius: 50px;
  border: none;
  color: #ffffff;
}

.td-btn-medium-b {
  width: 85px;
  height: 40px;
  padding: 10px 20px;
  align-items: center;
  background: #174157;
  border-radius: 50px;
  border: none;
  color: #ffffff;
}

.td-btn-large-b {
  width: 115px;
  height: 48px;
  padding: 12px 32px;
  align-items: center;
  background: #174157;
  border-radius: 50px;
  border: none;
  color: #ffffff;
}

.td-btn-large-delete {
  width: 192px;
  height: 60px;
  background: #174157;
  border-radius: 50px;
  border: none;
  color: #ffffff;
}

.td-btn-large-pay {
  width: 192px;
  height: 60px;
  align-items: center;
  background: #fd9c9c;
  border-radius: 50px;
  border: none;
  color: #ffffff;
}

.td-btn-large-Sort {
  width: 130px;
  height: 50px;
  align-items: center;
  background: #fec90d;
  border-radius: 50px;
  border: none;
  color: #ffffff;
}

.td-btn-large-Sort-w {
  width: 150px;
  height: 50px;
  align-items: center;
  background: #ffffff;
  border-radius: 25px;
  border: none;
  color: #072b7b;
  border: 1px solid #072b7b;
}

.td-btn-people {
  width: 50px;
  height: 50px;
  background: #ff9c00;
  border-radius: 50%;
  border: none;
  margin: 10px;
}
