button:hover,
.btn:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  box-shadow: 4px 4px 9px -3px #636161;
  -webkit-box-shadow: 4px 4px 9px -3px #636161;
  -moz-box-shadow: 4px 4px 9px -3px #636161;
  -o-box-shadow: 4px 4px 9px -3px #636161;
}

.page-title {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.063rem;
  color: #072b7b;
}

.td-ml-50 {
  margin-left: 50px;
}
.td-ml-25 {
  margin-left: 25px;
}

.carousel-item {
  max-width: 100%;
  height: 444px;
}
.carousel-item img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 輪播圖點點 */
.carousel-indicators {
  height: 15px;
  bottom: 15px;
}

.carousel-indicators button {
  height: 15px;
}
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 30px;
  opacity: unset;
}

.carousel-indicators [data-bs-target].active {
  background-color: var(--blue-color);
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 0.8;
}
.carousel-control-next:hover,
.carousel-control-prev:hover {
  box-shadow: unset;
  transform: unset;
  transition: unset;
  opacity: 1;
}
.td-btn-medium-w {
  width: 85px;
  height: 40px;
  padding: 10px 20px;
  align-items: center;
  background: #ffffff;
  border-radius: 50px;
  border: none;
  color: #ff9c00;
  border: 1px solid #ff9c00;
  text-decoration: none;
  text-align: center;
  align-items: center;
}
@media only screen and (max-width: 1400px) {
  .filter .form-check {
    margin-left: 25px;
    max-width: 175.72px;
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .journey-info .title {
    font-weight: bold;
    font-size: 1.2rem !important;
    line-height: 2rem;
    color: #000000;
    margin-top: 0.3rem;
  }
  .journey-info .tag {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.313rem;
    color: #072b7b;
    margin-top: 0.6rem;
    width: 130px;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .filter-bystar .form-check {
    display: none;
  }
  .filter {
    display: none;
  }

  .journey-price-content .td-btn-medium-w {
    margin-right: 18px;
  }
  .fa-heart-hide {
    font-size: 2.188rem;
    color: pink;
  }
}

@media only screen and (min-width: 768px) {
  .filter-resultcontainer .page-title {
    text-align: left !important;
  }
}
.journey-info .title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #000000;
}

.journey-info .tag {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.313rem;
  /* identical to box height */
  color: #072b7b;
  margin-top: 0.6rem;
}
.journey-info .content {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #000000;
}

@media only screen and (min-width: 1400px) {
  .journey-info .content {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #000000;
  }
}

@media only screen and (min-width: 768px) {
  .journey-price .journey-price-content {
    height: 280px;
    max-height: 100%;
  }
  .journey-info {
    height: 280px;
    max-height: 100%;
  }
}

.journey-info .fa-heart-show {
  font-size: 2.188rem;
  color: pink;
}

.filter-result {
  background: #e8f7ff;
  border-radius: 10px;
}

.filter-result i {
  width: max-content !important;
}

.filter-result:hover {
  box-shadow: 4px 4px 9px -3px #636161;
  -webkit-box-shadow: 4px 4px 9px -3px #636161;
  -moz-box-shadow: 4px 4px 9px -3px #636161;
  -o-box-shadow: 4px 4px 9px -3px #636161;
}
.journey-price p {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: #000000;
}

.filter-resultcontainer .filter-result-imgarea {
  padding: 0%;
}
@media only screen and (max-width: 768px) {
  .journey-price .fa-heart-hide {
    display: none;
  }
  .filter-resultcontainer {
    margin-top: 50px;
  }

  .filter-resultcontainer .filter-result-imgarea {
    padding: 0%;
    height: 80%;
  }
  .filter-resultcontainer img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 768px) {
  .journey-price .td-btn-medium-w {
    text-align: center;
    align-items: center;
    text-decoration: none;
  }

  .journey-info .fa-heart-show {
    display: none;
  }
}
.journey-price-content i {
  font-size: 2.188rem;
  color: pink;
}

.filter-result img {
  border-radius: 10px;
  width: 100%;
}

.reviewStar img {
  border-radius: 10px;
  width: 100%;
  margin-left: 25px;
}

.pagination-container nav {
  width: 149px !important;
  height: 33.39px !important;
}
.pagination {
  width: 149px !important;
  height: 33.39px !important;
  margin: 0%;
  color: #072b7b;
}

.pagination .page-item .page-number {
  width: 32px !important;
  height: 32px !important;
}

.pagination .page-item .page-sign {
  width: 32px !important;
  height: 33.39px !important;
}

.page-item {
  margin-right: 7px;
}

.page-sign-next {
  margin-right: 0%;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #072b7b;
  border-color: #072b7b;
}
.page-link {
  z-index: 3;
  color: #072b7b;
}

.scrollup:hover {
  background-color: #ff9c00;
  opacity: 1;
}

.show-scroll {
  bottom: 5rem;
}

.journey-reservationarea-container .card {
  cursor: pointer;
}
.journey-reservationarea-container .fa-check-circle:before {
  content: '\f058';
  font-size: 30px;
  color: slategrey;
}

.journey-reservationarea-container .td-btn-medium-b {
  width: 85px;
  height: 40px;
  align-items: center;
  border-radius: 50px;
  border: none;
  background-color: white;
  border: 1px solid slategrey;
  color: slategrey;
}
