.parent {
  width: 300px;
  height: 300px;
  display: flex;
}

.member-background {
  height: 1125px;
  width: 100%;
  background: #e8f7ff;
  display: flex;
}

.main-article {
  height: 612px;
  width: 825px;
  top: 92px;
  left: 10px;

  background: #ffffff;
  position: relative;
  display: flex;
}
.main-article-box {
  position: absolute;
  top: 25px;
  left: 20px;
  height: 870px;
  width: 786px;
  background: #ffffff;
}

.main-article-article {
  height: 400px;
  width: 786px;
  left: 20px;
  top: 94px;
  background: #ffffff;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgb(172, 172, 172);
}

.main-article-article2 {
  height: 400px;
  width: 786px;
  left: 0px;
  top: 80px;
  background: #ffffff;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgb(172, 172, 172);
}
.nav-article-section-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: 69px;
  top: 28px;
}
.nav-article-section-name {
  width: 51px;
  height: 28px;
  left: 133.5px;
  top: 25px;
  border-radius: 20px;
  position: relative;
}
.nav-article-section-star {
  width: 105px;
  height: 20px;
  left: 128px;
  top: 5px;
  border-radius: 20px;
  background: #000;
  position: relative;
  /* margin-top: 129px;
    margin-left: 64px; */
}

.nav-article-section-text {
  width: 280px;
  height: 28px;
  left: 79.5px;
  top: 25px;
  position: relative;
}
.nav-article-section-image {
  width: 250px;
  height: 222px;
  left: 20px;
  top: 25px;
  border-radius: 20px;
  background: #000;
  position: absolute;
  /* margin-top: 129px;
    margin-left: 64px; */
}

/* "nav"字體及間距設定 */

.nav-member-size18 {
  font-size: 18px;
  line-height: 30px;
}
.nav-member2-size18 {
  font-size: 18px;
  line-height: 55px;
}

.left-member {
  height: 304px;
  width: 255px;
  left: 0px;
  top: 92px;
  position: relative;
  background: #ffffff;
  border-radius: 10px;
}

.left-member2 {
  height: 355px;
  width: 255px;
  left: 0px;
  top: 130px;
  position: relative;
  background: #ffffff;
  border-radius: 10px;
}

.list {
  position: relative;
  top: 30px;
  margin-top: 25px;
  list-style-type: none;
  text-align: center;
}
.list1 {
  position: relative;
  left: -18px;
  margin-top: 25px;
  list-style-type: none;
  text-align: center;
}
.list a {
  color: rgb(2, 2, 2);
  text-decoration: none;
}
/* .list p {
  display: flex;
  position:relative;
  left: 75px;
  top: 10px;
  color: #072b7b;
  text-decoration: none;
} */

.list-color {
  color: #072b7b;
  text-decoration: none;
}
a:hover {
  color: #072b7b;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.nav-member-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #000;
  position: relative;
  top: 24px;
  left: 64px;
}

.box10 {
  display: flex;
}
.flex {
  position: absolute;
  display: flex;
  width: 130px;
  height: 30px;
  top: 310px;
  left: 340px;
  /* margin-top: 875px;
    margin-left: 350px; */
  justify-content: space-between;
}

.item {
  width: 25px;
  height: 25px;
  color: #c4c4c4;
  text-align: center;
  border: 1px solid gray;
}

.item a {
  color: gray;
  text-decoration: none;
}

.item1 {
  border-radius: 5px 0px 0px 5px;
}

.item2 {
  background-color: #072b7b;
}
.item3 {
  border-radius: 0px 5px 5px 0px;
}
.nav-article-section-text1 {
  color: #072b7b;
  width: 106px;
  height: 33px;
  border-radius: 20px;
  position: absolute;
  left: 297px;
  top: 58px;
}
.nav-article-section-text2 {
  font-weight: bold;
  color: #072b7b;
  width: 302px;
  height: 69px;
  border-radius: 20px;
  position: absolute;
  left: 297px;
  top: 113px;
}

.nav-article-section-delete {
  width: 115px;
  height: 48px;
  left: 690px;
  top: 539px;
  border-radius: 50px;
  position: absolute;
  border: 1px solid #ff9c00;
  background: #ff9c00;
}
.nav-article-section-detel {
  width: 115px;
  height: 48px;
  left: 64.15px;
  top: 25px;
  border-radius: 50px;
  background: #000;
  position: absolute;
  left: 650px;
  top: 197px;
  border: 1px solid #ff9c00;
  background: #ffffff;
  color: #ff9c00;
}

.main-article-text {
  font-size: 20px;
  color: #072b7b;
  font-weight: bold;
  position: relative;
  top: 72px;
  left: 64px;
  width: 80px;
  height: 30px;
}

.main-article-text1 {
  position: absolute;
  font-size: 20px;
}

.main-article-text2 {
  border: 1px rgb(128, 128, 128, 0.4) solid;
  width: 190px;
  height: 38px;
  border-radius: 10px;
  position: absolute;

  font-size: 20px;
}

.main-article1-text1 {
  top: 152px;
  left: 66px;
}

.main-article1-text2 {
  top: 189px;
  left: 64px;
}

.main-article1-text3 {
  top: 280px;
  left: 66px;
}

.main-article1-text4 {
  top: 318px;
  left: 66px;
}

.main-article1-text5 {
  top: 408px;
  left: 66px;
}

.main-article1-text6 {
  top: 446px;
  left: 66px;
}

.main-article1-text7 {
  top: 152px;
  left: 329px;
}

.main-article1-text8 {
  top: 189px;
  left: 329px;
}

.main-article1-text9 {
  top: 280px;
  left: 329px;
}

.main-article1-text10 {
  top: 318px;
  left: 329px;
}

.main-article1-text11 {
  top: 408px;
  left: 329px;
}

.main-article1-text12 {
  top: 446px;
  left: 329px;
}
.main-article-sex {
  position: absolute;
  top: 152px;
  left: 599px;
  font-size: 20px;
}
.list-color {
  color: #072b7b;
  text-decoration: none;
}

.box-boy {
  display: flex;
  position: absolute;
  top: 196px;
  left: 599px;
}

.box-girl {
  display: flex;
  position: absolute;
  top: 196px;
  left: 699px;
}
@media screen and (max-width: 576px) {
  .member-background {
    height: 1100px;
    width: 576px;
    display: flex;
    background-color: #ffffff;
  }
  .parent {
    /* background-color: #00aaff; */
    width: 0px;
    height: 0px;
    display: flex;
  }
  .box {
    height: 44px;
    width: 130px;
    position: relative;
    left: 364px;
    top: 75px;
    background: #fec90d;
    border-radius: 50px;
  }
  .box-icon {
    position: absolute;
    left: 83px;
    top: 5px;
    color: #ffffff;
  }
  .box-text {
    position: absolute;
    left: 10px;
    top: 8.5px;
    color: #ffffff;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .main-article {
    height: 1000px;
    width: 500px;
    top: 0px;
    left: 0px;

    background: #ffffff;
    position: relative;
    display: flex;
  }
  .main-article-article {
    height: 400px;
    width: 445px;
    left: 50px;
    top: 144px;
    background: #ffffff;
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgb(172, 172, 172);
  }

  .main-article-article2 {
    height: 400px;
    width: 445px;
    left: 0px;
    top: 502px;
    background: #ffffff;
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgb(172, 172, 172);
  }
  .nav-article-section-image {
    width: 250px;
    height: 222px;
    left: 64.15px;
    top: 25px;
    border-radius: 20px;
    background: #000;
    position: relative;
  }
  .nav-article-section-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    left: 69px;
    top: 28px;
  }
  .nav-article-section-name {
    font-size: 20px;
    width: 51px;
    height: 28px;
    left: 133.5px;
    top: 25px;
    border-radius: 20px;
    position: relative;
  }
  .nav-article-section-star {
    font-size: 20px;
    left: 128px;
    top: 5px;
    border-radius: 20px;
    background: #000;
    position: relative;
  }

  .nav-article-section-text {
    width: 280px;
    height: 28px;
    left: 79.5px;
    top: 25px;
    position: relative;
  }
  .nav-article-section-image {
    width: 250px;
    height: 222px;
    left: 64.15px;
    top: 15px;
    border-radius: 20px;
    background: #000;
    position: relative;
    /* margin-top: 129px;
      margin-left: 64px; */
  }
  .flex {
    display: flex;
    width: 130px;
    height: 10px;
    position: absolute;
    top: 410px;
    left: 159px;
    /* margin-top: 875px;
      margin-left: 350px; */
    justify-content: space-between;
  }

  .item {
    width: 25px;
    height: 25px;
    color: #c4c4c4;
    text-align: center;
    border: 1px solid gray;
  }

  .item a {
    color: gray;
    text-decoration: none;
  }

  .item1 {
    border-radius: 5px 0px 0px 5px;
  }

  .item2 {
    background-color: #072b7b;
  }
  .item3 {
    border-radius: 0px 5px 5px 0px;
  }
  .td-nav,
  .td-member,
  .td-cart,
  .left-member,
  .left-member2,
  .list,
  .list1,
  .nav-member-avatar {
    /* display: none; */
  }
}
