/* 小人走務流程圖設定 */
.process-bg {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background: #072b7b;
}
.process-bg p {
  color: white;
  font-size: 40px;
  text-align: center;
}
.process-text {
  margin-top: 5px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.process-text-data {
  margin-right: 20px;
}
.process-text-pay {
  margin-right: 5px;
}
.process-dotted {
  width: 120px;
  height: 30px;
  border-bottom: 2px dashed black;
}
@media only screen and (max-width: 992px) {
  /* 小人走務流程圖設定 */
  .people-img {
    width: 55px;
  }
  .process-bg {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #072b7b;
  }
  .process-bg p {
    color: white;
    font-size: 30px;
    text-align: center;
  }
  .process-text {
    font-size: 16px;
  }
  .process-dotted {
    width: 100px;
    height: 30px;
    border-bottom: 2px dashed black;
  }
}
