
/* 購物車清單內容設定 */
.shoppingcart-bg {
  background: #e8f7ff;
  width: 100%;
}
.shoppingcart-img {
  width: 264px;
  height: 176px;
}
/* 行程分隔線 */
.shoppingcart-solid {
  margin: 0 auto;
  width: 95%;
  border-bottom: 3px solid #cccccc;
}
/* 行程標題連結樣式 */
.shoppingcart-title {
  color: #072b7b;
  font-weight: bold;
  text-decoration: none;
}
/* 購物車清單價格樣式 */
.shoppingcart-price {
  color: #072b7b;
  font-weight: bold;
}
/* 繼續購買連結去除底線 */
.shoppingcart-continue {
  text-decoration: none;
}
/* 繼續購買hover樣式 */
.shoppingcart-continue:hover {
  cursor: pointer;
}
/* 推薦商品區塊設定 */
.recommend-card {
  width: 18rem;
}
/* 推薦商品圖片設定 */
.recommend-img {
  width: 18rem;
  height: 185px;
}
/* 推薦商品文字介紹設定 */
.recommend-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.carousel-item{
  height: 413px;
}

