body {
  font-size: 18px;
}

a {
  text-decoration: none;
}
.login-inner a {
  text-decoration: none;
  padding-left: 40px;
}

.register-inner,
.login-inner {
  width: 980px;
  margin: 30px auto 30px auto;
  height: 570px;
  overflow: hidden;
}
.register-inner p {
  color: rgb(54, 54, 54);
}
.login-inner p {
  color: rgb(54, 54, 54);
}
.register-inner label {
  color: rgb(32, 32, 32);
}
.login-inner label {
  color: rgb(32, 32, 32);
}

.tab-content {
  margin: auto;
  width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(255, 255, 255, 0.568);
  /* border-radius: 20px; */
}
.login-inner .tab-content {
  justify-content: center;
  /* align-items: center; */
}
.text-center {
  font-weight: 500;
}
.tab-content .form-content {
  margin-top: 25px;
  margin-bottom: 10px;
}
.tab-content p {
  font-size: 24px;
}
.tab-content .form-control:focus,
.tab-content .login-control:focus {
  box-shadow: unset;
  border-color: var(--blue-color);
}
.tab-content span {
  font-size: 15px;
  font-style: italic;
  margin-left: 10px;
  color: var(--blue-color);
}
.form-group {
  color: #000;
  box-shadow: none;
  margin-bottom: 1rem;
  margin-top: 25px;
}
.form-group .form-group {
  width: 80%;
  margin: auto;
}
/* .login-inner .form-group {
  width: 80%;
  margin: auto;
} */
.tab-content label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: 16px;
}
.form-control {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.8);
  height: auto;
  border: none;
  color: #8da291;
  font-size: 1rem;
  line-height: 1.5;
}
.login-inner input {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.8);
  height: auto;
  border: none;
  color: #8da291;
  font-size: 1rem;
  line-height: 1.5;
}
.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
.tab-btn {
  width: 50%;
  line-height: 56px;
  padding: 0;
  font-size: 20px;
  border-radius: 0;
  color: var(--blue-color);
  text-align: center;
  font-weight: bold;
  border: 1px solid #eaf0ed;
}
/* .active {
  background-color: var(--blue-color);
  color: #fff;
} */
.sign-icon .fab {
  font-size: 40px;
}
.sign-icon a {
  color: var(--blue-color);
}
.lines {
  border: 1px solid #666;
  width: 200px;
  height: 1px;
  display: inline-block;
  margin-top: 3px;
}
.or {
  margin-top: 15px;
}
.sign-in-btn,
.sign-up-btn {
  width: 50%;
  padding: 10px;
  border: unset;
  background: rgba(255, 255, 255, 0.89);
  color: var(--blue-color);
  border-radius: 20px;
  border: 3px solid var(--blue-color);
  margin-bottom: 15px;
  margin-top: 20px;
}
.sign-in-btn {
  margin-top: 50px;
  margin-bottom: 25px;
}
.free {
  color: var(--blue-color);
  font-size: 16px;
  margin-left: 110px;
}

.alert {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  max-width: 80%;
  height: 40px;
  transition: linear;
}
