body {
  font-size: 18px;
}

a {
  text-decoration: none;
}
.tab-content {
  max-width: 530px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px 40px;
  position: relative;
  border: 2px solid var(--blue-color);
  border-radius: 30px;
}
.tab-content p {
  font-size: 24px;
}
.tab-content .form-control:focus {
  box-shadow: unset;
  border-color: var(--blue-color);
}
.form-group {
  color: #000;
  margin-bottom: 1rem;
  margin-top: 25px;
  box-shadow: none;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  /* font-size:  20px; */
  font-weight: normal;
}
.form-control {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  background-color: #ffffff;
  height: auto;
  border: none;
  color: #8da291;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid var(--blue-color);
}
.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
.tab-btn {
  width: 50%;
  line-height: 56px;
  padding: 0;
  font-size: 20px;
  border-radius: 0;
  color: var(--blue-color);
  text-align: center;
  font-weight: bold;
  border: 1px solid #eaf0ed;
}
/* .active {
  background-color: var(--blue-color);
  color: #fff;
} */
.sign-icon .fab {
  font-size: 40px;
}
.sign-icon a {
  color: var(--blue-color);
}
.lines {
  border: 1px solid #666;
  width: 200px;
  height: 1px;
  display: inline-block;
  margin-top: 3px;
}
.or {
  margin-top: 15px;
}
.sign-in-btn,
.sign-up-btn {
  width: 100%;
  padding: 8px;
  border: unset;
  background: var(--blue-color);
  color: #fff;
  border-radius: 20px;
  margin-top: 35px;
}
.free {
  color: var(--blue-color);
  font-size: 16px;
}
